h1,h2,h3,h4,h5,h6 {
  text-align: center;
  margin: 0.75ex 0;

  &::after {
    margin: 0.75ex auto 0 auto;
    display: block;
    content: " ";
    height: 1px;
    max-width: 10ex;
    background-color: $colour-brand;
  }
}