.main-menu {
  background-color: $colour-background-alternate;
  padding: 1ex;
  margin-bottom: 1ex;

  .branding {
    border: 0 none;
    color: $colour-brand;
  }

  li, ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  li li {
    margin-left: 2rem;
  }

  a {
    line-height: 2rem;
    display: block;
  }

  .fa {
    color: $colour-info;
    width: 16px;
    text-align: center;
    margin-right: 0.5ex;
  }

  label {
    display: block;
    width: 100%;
    font-size: 0;

    &::before {
      @include fa-icon();
      content: $fa-var-bars;
      color: $colour-brand;
      text-align: center;
      width: 100%;
      font-size: 1rem;
    }
  }

  .toggle {
    display: none;
  }

  & > ul {
    display: none;
  }

  .toggle:checked + ul {
    display: inline-block;
  }

  @media (min-width: 40rem) {
    margin: 0 0 1rem 0;
    padding: 0;
    display: flex;
    align-items: center;

    .toggle, label {
      display: none;
    }

    .branding {
      margin: 0;
      padding: 0.2rem 0 0.2rem 0.2rem;
    }

    & > ul {
      display: initial;
    }

    & > ul > li {
      display: inline-block;
      margin: 0 1rem;
    }

    & > ul > li:hover {
      position: relative;

      & > ul {
        display: block;
        position: absolute;
        top: 2rem;
        background-color: $colour-background-alternate;
        width: 20rem;

        ul {
          display: block;
        }
      }
    }

    ul ul {
      display: none;
    }
  }
}