$colour-background: #111;
$colour-background-alternate: #1C1C20;
$colour-text: #eee;
$colour-brand: #ff1885;
$colour-link: #A8B4BB;
$colour-link-hover: #919BA1;
$colour-danger: #FF1323;
$colour-warning: #FFE931;
$colour-info: #99584C;
$colour-positive: #6bb300;

body {
  background-color: $colour-background;
  color: $colour-text;
}

a {
  color: $colour-link;
  transition: 200ms color ease-in;
}

a:hover, a.-hover {
  color: $colour-link-hover;
  transition: 200ms color ease-out;
}

.-brand {
  color: $colour-brand;
}

.-danger {
  color: $colour-danger;
}

.-info {
  color: $colour-info;
}

.-warning {
  color: $colour-warning;
}